# Ignore environment variables
.env

# Ignore the actual SQLite database file
*.sqlite
*.db

# Ignore MERN scraps
index.txt
EI_MVP_Checklist.md
ENCRYPT INC.png

# Ignore Python cache
__pycache__/
tests/
